name: Linux Build

on:
  push:
    branches: [ "master" ]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: false
      matrix:
        compiler: [gcc, clang]
        build_type: [Release, Debug]
        include:
          - compiler: gcc
            cc: gcc-14
            cxx: g++-14
          - compiler: clang
            cc: clang-21
            cxx: clang++-21

    steps:
      - uses: actions/checkout@v4

      - name: Install GCC 14
        if: matrix.compiler == 'gcc'
        run: |
          sudo apt-get update
          sudo apt-get install -y g++-14

      - name: Install Clang 21
        if: matrix.compiler == 'clang'
        run: |
          sudo apt-get update
          sudo apt-get install -y wget lsb-release software-properties-common gnupg
          wget https://apt.llvm.org/llvm.sh
          chmod +x llvm.sh
          sudo ./llvm.sh 21
          sudo apt-get install -y clang-21

      - name: Configure & Build
        run: |
          cmake -B build \
            -DCMAKE_C_COMPILER=${{ matrix.cc }} \
            -DCMAKE_CXX_COMPILER=${{ matrix.cxx }} \
            -DCMAKE_BUILD_TYPE=${{ matrix.build_type }} \
            -DENABLE_TESTS=ON
          cmake --build build --config ${{ matrix.build_type }}

      - name: Test
        working-directory: build
        run: ctest --build-config ${{ matrix.build_type }} --output-on-failure