name: Windows Build (Clang-cl)

on:
  push:
    branches: [ "master" ]
  pull_request:

jobs:
  build:
    runs-on: windows-2025-vs2026
    strategy:
      fail-fast: false
      matrix:
        build_type: [Release, Debug]

    steps:
      - uses: actions/checkout@v4

      - name: Install Ninja
        run: choco install ninja

      - name: Set up MSVC dev cmd
        uses: ilammy/msvc-dev-cmd@v1

      - name: Configure & Build
        run: |
          cmake -G Ninja -B build `
            -DCMAKE_C_COMPILER=clang-cl `
            -DCMAKE_CXX_COMPILER=clang-cl `
            -DCMAKE_BUILD_TYPE=${{ matrix.build_type }} `
            -DENABLE_TESTS=ON `
            -DCMAKE_CXX_STANDARD=26
          
          cmake --build build

      - name: Test
        working-directory: build
        run: ctest --output-on-failure